# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Shortcuts
alias d="cd ~/Dropbox"
alias dl=" cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias gh="cd ~/GitHub"
alias bx="cd /opt/boxen"

# Easier access to my Uberspace
alias uber="ssh arneb3rt@arne.me"

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# Really important
alias please="sudo "
