# Mac
.DS_Store
.Spotlight-V100
.Trashes
._*

# Vim
vim/vim.symlink/plugged
vim/vim.symlink/.netrwhist

# Atom
compile-cache/
*.swp
atom.symlink/storage/
atom.symlink/packages/
atom.symlink/.node-gyp/
atom.symlink/.apm/
atom.symlink/projects.cson
