[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/gundo.vim"]
	path = vim/vim.symlink/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/vim-multiple-cursors"]
	path = vim/vim.symlink/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/vim.symlink/bundle/rainbow_parentheses.vim"]
	path = vim/vim.symlink/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/vim.symlink/bundle/vim-snipmate"]
	path = vim/vim.symlink/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/snipmate.vim"]
	path = vim/vim.symlink/bundle/snipmate.vim
	url = git@github.com:msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundle/vim-easymotion"]
	path = vim/vim.symlink/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/base16-vim"]
	path = vim/vim.symlink/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
