[user]
  name = Arne Bahlo
  email = hey@arne.me
	signingKey = C6C4BA42

[apply]
  whitespace = fix

[core]
  whitespace = trailing-space, space-before-tab
  quotepath  = false
  editor     = vim
  excludesfile = ~/.gitignore

[color]
  ui = auto

[alias]
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
  l = log --graph --format='%C(yellow)%h%Creset - %s %Cgreen(%cr) %C(blue)%an %Creset'

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[includeIf "gitdir:~/Developer/Axiom/"]
  path = .gitconfig-axiom

#[url "ssh://git@github.com/"]
  #insteadOf = https://github.com/
