[user]
  name = Arne Bahlo
  email = hallo@arne.me

[apply]
  whitespace = fix

[core]
  whitespace = trailing-space, space-before-tab
  quotepath  = false
  editor     = vim
  excludesfile = ~/.gitignore

[color]
  ui = auto

[includeIf "gitdir:~/Developer/Axiom/"]
  path = .gitconfig-axiom
