[user]
  name = Arne Bahlo
  email = hallo@arne.me

[apply]
  whitespace = fix

[core]
  whitespace = trailing-space, space-before-tab
  quotepath  = false
  editor     = vim
  excludesfile = ~/.gitignore

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[push]
  default = tracking

[help]
  autocorrect = 0

[merge]
  log = true

[status]
  submodulesummary = true

[column]
  ui = never

[hub]
  protocol = ssh

[diff "nodiff"]
  command = /usr/bin/true # Any command without output, paths may vary

[filter "media"]
  clean  = git-media-clean %f
  smudge = git-media-smudge %f

[alias]
	up = pull --rebase --autostash
