"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    preferredLineLength: 79
    showInvisibles: true
    fontFamily: "Fira Mono"
  "one-dark-ui":
    fontSize: 12
  "file-icons":
    onChanges: true
    coloured: false
  minimap: {}
  "travis-ci-status": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "go-plus":
    runCoverageOnSave: true
    formatTool: "gofmt"
    getMissingTools: false
  "relative-line-numbers":
    showNormalLineNumbers: false
  "git-plus":
    messageTimeout: 4
  docblockr: {}
  "merge-conflicts": {}
  pigments: {}
  "project-manager": {}
".diff.source":
  editor:
    preferredLineLength: 79
