'editor':
  'fontSize': 14
  'fontFamily': 'Menlo'
  'showInvisibles': true
  'invisibles':
    'cr': ''
    'eol': ''
    'space': '·'
    'tab': '⇥'
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'release-notes':
  'viewedVersion': '0.92.0'
'welcome':
  'showOnStartup': false
'exception-reporting':
  'userId': '0bf542b5-ae29-a7c1-922a-ceb7b8ce4119'
'metrics':
  'userId': '8e74910044a094a5c36bcae376a3b68e2e790cb1'
